/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    .pitch {
      text-shadow: black 0.1em 0.1em 0.2em;
      font-weight: 700;
    }

    .logo {
      margin-top: 30px;
      margin-bottom: 0px;
      height: 230px;

      .exeter, .nasa {
        fill: $logo-red;
      }
    }

    p {
      margin-top: 10px;
      font-size: 2rem;

      a {
        color: white;
        text-decoration: underline;
      }

      a:hover {
        text-decoration: none;
      }

    }

    p.date {
      font-size: 3rem;
    }

    p:first-of-type {
      margin-top: 50px;
    }

    p:last-of-type {
      margin-top: 50px;
    }

    .social {
      margin-top: 50px;
    }
}

/* About */

.about {
    padding: 50px 0;
}

/* Services */

.services {
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
}

/* Callout */

.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: url(../img/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Past  */

.past-projects {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-sponsor-majeur {
  max-height: 400px;
  max-width: 350px;
}

.img-sponsor {
  max-height: 150px;
  max-width: 140px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}

.past-events {
    background-color: $cream;
    color: $grey;
    h4 {
      small {
        color: inherit;
      }
    }
}

/* Contact */

@media(min-width:768px) {
  .contact {
    padding: 50px 0;
    padding-bottom: 80px;
  }

  .btn {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.contact {
  color: $grey;
  background-color: $cream;

  h3 {
    margin-bottom: 30px;
  }

  .btn-viewport {
    max-width: 100%;
  }
}

/* Map */

.map {
    height: 500px;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

/* Disable custom maps scrolling behaviour */
.scrolloff {
    pointer-events: none;
}

/* Social */

.social {
  margin-bottom: 30px;

  i {
    background-color: white;
    line-height: 1.5em;
    vertical-align: middle;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50% 50%;
  }

  a {
    color: #555;
  }

  a:hover {
    color: #999;
  }
}

/* Footer */

footer {
    padding: 20px 0;
}
