<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4><strong>{{ site.title }}</strong>
        </h4>
        <h5>Du {{ site.edition.date }}</h5>
        <a href="https://www.eventbrite.fr/e/billets-presentations-des-projets-space-apps-lyon-2016-et-decouverte-du-fablab-24892114986" class="btn btn-lg btn-chunky"><span class="fa fa-rocket"></span> Je m'inscris pour regarder les présentations !</a>
        <p>
          {% for address in site.address %}
          {{ address.line }}<br>
          {% endfor %}
        </p>
        <i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        <br/>
        <hr/>
        {% include social-links.html %}
      </div>
    </div>
  </div>
</footer>
