<header id="top" class="header">
  <div class="text-vertical-center">
    <img src="img/logos/sal_logo_white_sm.png" class="logo">
    <p class="pitch">
      Space Apps est le <a href="https://spaceappschallenge.org">challenge  d'innovation international de la NASA</a>, <br/> qui se déroule pendant 48 heures dans plus de 200 villes sur la planète.</p>
    <p class ="pitch">
      Résolvez en équipe des problèmes concrets, qui peuvent aider à changer le monde !
    </p>
    <p class="date pitch">22 - 24 Avril 2016, Les Subsistances, Lyon, France.</p>
    <p class="pitch"> Le challenge est en cours ! Venez découvrir le fablab à 15 heures, puis voir les présentations aux Subsistances à 16 heures le 24 avril.</p>
    <br>
    <a href="https://www.eventbrite.fr/e/billets-presentations-des-projets-space-apps-lyon-2016-et-decouverte-du-fablab-24892114986" class="btn btn-lg btn-chunky"><span class="fa fa-rocket"></span> Je m'inscris pour regarder les présentations !</a>
    {% include social-links.html %}
  </div>
</header>
