<header id="top" class="header">
  <div class="text-vertical-center">
    <img src="img/logos/sal_logo_white_sm.png" class="logo">
    <p class="pitch">
      Space Apps est le <a href="https://spaceappschallenge.org">challenge  d'innovation international de la NASA</a>, <br/> qui se déroule pendant 48 heures dans plus de 140 villes sur la planète.</p>
    <p class ="pitch">
      Travaillez en équipe pour résoudre des challenges concrets, qui peuvent aider à changer le monde !
    </p>
    <p class="date pitch">22 - 24 Avril 2016, Les Subsistances, Lyon, FR.</p>
    <br>
    <a href="http://eepurl.com/bI7FBL" class="btn btn-lg btn-chunky" target="_blank"><span class="fa fa-rocket"></span> Tenez-moi au courant !</a>
    {% include social-links.html %}
  </div>
</header>
