<header id="top" class="header">
  <div class="text-vertical-center">
    <img src="img/logos/sal_logo_white_sm.png" class="logo">
    <p class="pitch">
      Space Apps est le <a href="https://spaceappschallenge.org">challenge  d'innovation international de la NASA</a>, <br/> qui se déroule pendant 48 heures dans plus de 200 villes sur la planète.</p>
    <p class ="pitch">
      Résolvez en équipe des problèmes concrets, qui peuvent aider à changer le monde !
    </p>
    <p class="date pitch">22 - 24 Avril 2016, Les Subsistances, Lyon, France.</p>
    <br>
    <a href="https://www.eventbrite.com/e/inscription-space-apps-2016-challenge-dinnovation-de-la-nasa-22118556197?aff=web" class="btn btn-lg btn-chunky"><span class="fa fa-rocket"></span> Je participe !</a>
    {% include social-links.html %}
  </div>
</header>
