<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#"  onclick = $("#menu-close").click(); >
        Menu
      </a>
    </li>
    <li>
      <a href="space-apps-challenge-c-est-quoi">
        Space Apps, qu'est-ce que c'est?
      </a>
    </li>
    <li>
      <a href="qui-peut-participer-a-space-apps" >
        Qui peut participer ?
      </a>
    </li>
    <li>
      <a href="deroulement-space-apps-lyon-2018">
        Déroulement du challenge
      </a>
    </li>
    <li>
      <a href="les-challenges-de-la-nasa-space-apps-2018">
        Les challenges et thématiques
      </a>
    </li>
    <li>
      <a href="competition-jury-de-space-apps-lyon-2018">
        Compétition et jury
      </a>
    </li>
    <li>
      <a href="venir-a-space-apps-lyon-au-planetarium">
        Comment venir à Space Apps Lyon ?
      </a>
    </li>
    <li>
      <a href="https://www.eventbrite.fr/e/billets-space-apps-2018-challenge-dinnovation-la-nasa-a-besoin-de-vous-48157155348?utm-medium=discovery&utm-campaign=social&utm-content=attendeeshare&aff=escb&utm-source=cp&utm-term=listing">
        S'inscrire, c'est gratuit !
      </a>
    </li>
  </ul>
</nav>
