<section id="past-events" class="past-events">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Nos sponsors</h2>
        <hr class="small">
         <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="http:/www.bullukian.com" alt="Cliquez pour aller sur le site de la Fondation Bullukian">
                <img class="img-portfolio img-responsive img-sponsor-majeur" src="img/fondation_bullukian.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="http://www.les-subs.com" alt="Vers le site des Subsistances">
                <img class="img-portfolio img-responsive img-sponsor" src="img/subsistances.png">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="http://www.villagillet.net" alt="Vers le site de la Villa Gillet">
                <img class="img-portfolio img-responsive img-sponsor" src="img/villa_gillet.png">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item" alt="Vers le site de la Fabrique d'Objets Libres">
              <a href="http://www.fablab-lyon.fr/">
                <img class="img-portfolio img-responsive img-sponsor" src="img/fabrique_objets_libres.jpg">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
<!-- /.container -->
</section>
