<section id="past-events" class="past-events">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Nos sponsors</h2>
        <hr class="small">
         <div class="row">
			<div class="col-md-12">
			  <div class="col-md-12">
				  <div class="portfolio-item">
					<a href="https://www.yoobaky.com/" title="Yoobaky" target="_blank">
					  <img class="img-portfolio img-responsive img-sponsor" src="img/logo-YY.png" alt="Nous réflechissons et entreprenons pour dessiner demain.">
					</a>
				  </div>
			  </div>
            </div>
			<div class="col-md-12">
			  <div class="col-md-4">
			    <div class="portfolio-item">
				  <a href="http://www.planetariumvv.com/" title="Site du Planétarium de Vaulx-en-Velin" target="_blank">
				    <img class="img-portfolio img-responsive img-sponsor" src="img/Planetarium-de-Vaulx-en-Velin.png" alt="Le Planétarium est un équipement de la Ville de Vaulx-en-Velin, sous la Direction des affaires culturelles, dédié à la vulgarisation des sciences de l’Univers.">
				  </a>
			    </div>
			  </div>
              <div class="col-md-4">
                <div class="portfolio-item">
                  <a href="http://www.vaulx-en-velin.net/" title="Site de la Ville de Vaulx-en-Velin" target="_blank">
                    <img class="img-portfolio img-responsive img-sponsor" src="img/Logo-quad-vect-vaulx.jpg" alt="Logo, ou blason de la ville">
                  </a>
                </div>
              </div>
			   <div class="col-md-4">
                <div class="portfolio-item">
                  <a href="https://fr.usembassy.gov/fr/embassy-consulates-fr/lyon-fr/" title="Site du Consulat Américain à Lyon" target="_blank">
                    <img class="img-portfolio img-responsive img-sponsor" src="img/consulat-us-lyon.png" alt="Le Consulat des Etats-Unis à Lyon permet d'instaurer une meilleure compréhension et de renforcer les liens d'amitié entre le peuple américain et la population des régions Rhône-Alpes, Auvergne et Bourgogne.">
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-12">
			  <div class="col-md-4">
                <div class="portfolio-item">
                  <a href="http://www.imaginove.fr/" title="Site de Imaginove" target="_blank">
                    <img class="img-portfolio img-responsive img-sponsor" src="img/imaginove.png" alt="Imaginove, contents cluster in rhône-alpes">
                  </a>
                </div>
              </div>
			  <div class="col-md-4">
                <div class="portfolio-item">
                  <a href="https://www.universite-lyon.fr/" title="Site de l'Université de Lyon" target="_blank">
                    <img class="img-portfolio img-responsive img-sponsor" src="img/logo_universite_de_lyon.png" alt="L’Université de Lyon est un site académique d’excellence à vocation mondiale. Labellisée IDEX en 2017, elle se situe au cœur de la Région Auvergne-Rhône-Alpes sur le bassin Lyon Saint-Étienne.">
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="portfolio-item">
                  <a href="http://enactus.fr/" title="Site de Enactus" target="_blank">
                    <img class="img-portfolio img-responsive img-sponsor" src="img/enactus-logo.png" alt="La vision d’Enactus France est de faire émerger une génération de leaders entreprenants, responsables et engagés.">
                  </a>
                </div>
              </div>
            </div>
			<div class="col-md-12">
              <div class="col-md-4">
                <div class="portfolio-item">
                  <a href="https://www.planete-sciences.org/aura/" title="Site de Planète sciences" target="_blank">
                    <img class="img-portfolio img-responsive img-sponsor" src="img/logo_planetesciences.png" alt="Planète sciences a pour objectifs de diffuser la culture scientifique et technique de façon ludique, auprès des jeunes entre 7 et 25 ans en s’appuyant sur un projet éducatif commun à toutes les délégations.">
                  </a>
                </div>
              </div>
			  <div class="col-md-4">
                <div class="portfolio-item">
                  <a href="https://www.aviasim.com/" title="Site de Aviasim" target="_blank">
                    <img class="img-portfolio img-responsive img-sponsor" src="img/aviasim-et-fighters-acadermy.png" alt="Simulateurs de vol à Lyon : vivez une expérience hors du commun aux commandes de l’un de nos simulateurs avions de ligne, avions de chasse et hélicoptère !">
                  </a>
                </div>
              </div>
			  <div class="col-md-4">
                <div class="portfolio-item">
                  <a href="https://www.blendwebmix.com/" title="Site de Blend Web Mix" target="_blank">
                    <img class="img-portfolio img-responsive img-sponsor" src="img/blend_web_mix.png" alt="BlendWebMix est une conférence unique et inspirante sur les nouveaux métiers, les nouveaux usages et les nouvelles technologies du Web.">
                  </a>
                </div>
              </div>
            </div>
			<div class="col-md-12">
              <div class="col-md-12">
                <div class="portfolio-item">
                  <a href="https://www.les-subs.com/" title="Site des Subsistances" target="_blank">
                    <img class="img-portfolio img-responsive img-sponsor" src="img/subsistances-nrv.png" alt="Les Subsistances sont un Laboratoire des scènes contemporaines et une plateforme artistique fédératrice des énergies culturelles novatrices de l’agglomération. Le labo NRV est un art lab, un laboratoire artistique consacré aux cultures numériques.">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
