---
layout: default
---

{% include header-page.html type="page" %}

<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{ content }}
      <div id='discourse-comments'></div>

      <script type="text/javascript">
        DiscourseEmbed = { discourseUrl: 'http://hub.spaceappslyon.com/',
                           topicId: {{ page.discourseId }} };

        (function() {
          var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
          d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
        })();
      </script>
    </div>
  </div>
</div>
